<div class="card-pf card-pf-utilization">
<div class="card-pf-heading">
<!-- <p class="card-pf-heading-details">Last 30 days</p> -->
<h2 class="card-pf-title">
  SLA Overview
</h2>
</div>
<div class="card-pf-body">
<div class="row">
<!-- Column 1 -->
<div class="col-xs-6 col-sm-4 col-md-4">
  <!-- <div pf-aggregate-status-card status="{{vm.status}}" show-top-border="true"></div> -->
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h3 class="card-pf-title">
      <span class="fa  fa-clock-o fa-6"></span><strong>Order Processing Time</strong>
    </h3>
    <p class="card-pf-utilization-details">
      Expected {{vm.jdgData.expectedPercentile.toFixed(1)}}% under {{vm.jdgData.expectedSlaValue.toFixed(1)}} min
    </p>
      <p class="card-pf-aggregate-status-notifications">
        <span class="card-pf-aggregate-status-notification"><span ng-class="vm.tptStatus ? 'pficon-error-circle-o' : 'pficon-ok'"></span></span>
      </p>
      <p class="card-pf-utilization-details">
        <p>Actual <strong>{{vm.jdgData.actualPercentile.toFixed(1)}}%</strong> under {{vm.jdgData.expectedSlaValue.toFixed(1)}} min expected</p>
        <p>Expected {{vm.jdgData.expectedPercentile.toFixed(1)}}% under <strong>{{vm.jdgData.actualSlaValue.toFixed(1)}} min</strong> actual</p>
      </p>
  </div>
</div>
<!-- End Column 1 -->


<!-- Column 2 -->
<div class="col-xs-6 col-sm-4 col-md-4">
  <!-- <div pf-aggregate-status-card status="{{vm.status}}" show-top-border="true"></div> -->
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h3 class="card-pf-title">
      <span class="fa  fa-bug fa-6"></span><strong>Incident Resolution Time</strong>
    </h3>
    <p class="card-pf-utilization-details">
      Expected 99% under 2 min
    </p>
      <p class="card-pf-aggregate-status-notifications">
        <span class="card-pf-aggregate-status-notification"><span class="pficon-error-circle-o"></span></span>
      </p>
      <p class="card-pf-utilization-details">
        Actual 99% under 3 min
      </p>
  </div>
</div>
<!-- End Column 2 -->

<!-- Column 3 -->
<div class="col-xs-6 col-sm-4 col-md-4">
  <!-- <div pf-aggregate-status-card status="{{vm.status}}" show-top-border="true"></div> -->
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h3 class="card-pf-title">
      <span class="pficon pficon-service"></span><strong>Service Uptime</strong>
    </h3>
    <p class="card-pf-utilization-details">
      Expected 99.99%
    </p>
      <p class="card-pf-aggregate-status-notifications">
        <span class="card-pf-aggregate-status-notification"><span class="pficon-ok"></span></span>
      </p>
      <p class="card-pf-utilization-details">
        Actual 99.999%
      </p>
  </div>
</div>
<!-- End Column 3 -->
</div>
</div>
</div>
